.historia p {
    color: #fff;
    line-height: 2em;
    padding: 1em;
}
.portada {
    width: 100%;
    background-color: #000;
}
.portada img {
    width: 100%;
}
.cita {
    background-color: rgba(255, 255, 255, 0.17);
    color: #fff;
    padding: .2em;
    width: 80%;
    border: 1em solid rgba(0, 0, 0, 0.473);
    text-align: center;
    font-style: italic;
}

