* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-size: cover;
}

html,
body {
  min-height: 100vh;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: fixed;
  background-position: center;
  z-index: 0;
}

section {
  background-color: #000;
}

/*menus patantalla grande*/
aside {
  height: 100vh;
  width: 25vh;
  background-color: #000
}

ul {
  line-height: 5em;
  list-style: none;
  color: #fff;
  padding: 0 !important;
  text-align: center;
}

h1 {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  color: #fff;
}

.lista a {
  text-decoration: none;
  color: #fff;
}

.lista a:hover {
  color: #fff;
}

.lista:hover {
  width: 80%;
  padding: 0;
  background-color: rgba(255, 0, 0, 0.646);
  color: #fff;
}

.active :hover {
  background-color: #000;
}

.active li {
  color: red;
}

/*redes sociales*/
.bi-facebook{
  color: #3b5998;
}
.bi-facebook:hover{
zoom: 130%;
cursor: pointer;
}
.bi-twitter{
  color: #55acee;
}
.bi-twitter:hover{
  zoom: 130%;
  cursor: pointer;
}
.bi-instagram{ 
  color:#125688; 
}
.bi-instagram:hover{ 
zoom: 130%;
cursor: pointer;
}


.prueba {
  padding-top: 5em !important;
  padding-bottom: 5em !important;
}

.botones {
  background-color: #000;
}

.botones h3 {
  font-size: 1.4em;
  margin-bottom: 0 !important;
  color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.283);
}

.botones .entrantes {
  background-image: url("img/entrantes.jpeg");
  height: 3em;
  background-repeat: no-repeat;
  background-size: fixed;
  background-position: center;
  z-index: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.botones .entrantes:hover h3 {
  visibility: hidden;
  backdrop-filter: blur(0px);
}
.botones .ramen {
  background-image: url("img/ramen.jpeg");
  height: 3em;
  background-repeat: no-repeat;
  background-size: fixed;
  background-position: center;
  z-index: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botones .ramen:hover h3 {
  visibility: hidden;
  backdrop-filter: blur(0px);
}

.botones .sushi {
  background-image: url("img/sushi.webp");
  height: 3em;
  background-repeat: no-repeat;
  background-size: fixed;
  background-position: center;
  z-index: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botones .sushi:hover h3 {
  visibility: hidden;
  backdrop-filter: blur(0px);
}

.botones .plato {
  background-image: url("img/plato.jpeg");
  height: 3em;
  background-repeat: no-repeat;
  background-size: fixed;
  background-position: bottom;
  z-index: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botones .plato:hover h3 {
  visibility: hidden;
  backdrop-filter: blur(0px);
}

.botones .postres {
  background-image: url("img/postres.jpeg");
  height: 3em;
  background-repeat: no-repeat;
  background-size: fixed;
  background-position: center;
  z-index: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botones .postres:hover h3 {
  visibility: hidden;
  backdrop-filter: blur(0px);
}

/*pantalla grande*/
.texto {
  visibility: hidden;
}

.ramen1 {
  background-image: url("img/ramen1.jpeg");
  height: 60vh;
  overflow: hidden;
  background-position: center;
  border-radius: 3%;
}

.ramen1:hover .texto {
  visibility: visible;
}

.ramen2 {
  background-image: url("img/ramen2.jpeg");
  height: 60vh;
  overflow: hidden;
  background-position: left;
  border-radius: 3%;
}

.ramen2:hover .texto {
  visibility: visible;
}

.ramen3 {
  background-image: url("img/ramen3.jpeg");
  height: 60vh;
  overflow: hidden;
  background-position: right;
  border-radius: 3%;
}

.ramen3:hover .texto {
  visibility: visible;
}

.entrante1 {
  background-image: url("img/entrante1.jpeg");
  height: 60vh;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 3%;
}

.entrante1:hover .texto {
  visibility: visible;
}

.entrante2 {
  background-image: url("img/entrante2.jpeg");
  height: 60vh;
  overflow: hidden;
  background-position: center;
  border-radius: 3%;
}

.entrante2:hover .texto {
  visibility: visible;
}

.entrante3 {
  background-image: url("img/entrante3.jpeg");
  height: 60vh;
  overflow: hidden;
  background-position: right;
  border-radius: 3%;
}

.entrante3:hover .texto {
  visibility: visible;
}

.sushi1 {
  background-image: url("img/sushi1.jpeg");
  height: 60vh;
  overflow: hidden;
  background-position: center;
  border-radius: 3%;
}

.sushi1:hover .texto {
  visibility: visible;
}

.sushi2 {
  background-image: url("img/sushi2.webp");
  height: 60vh;
  overflow: hidden;
  background-position: center;
  border-radius: 3%;
}

.sushi2:hover .texto {
  visibility: visible;
}

.sushi3 {
  background-image: url("img/sushi3.jpeg");
  height: 60vh;
  overflow: hidden;
  background-position: center;
  border-radius: 3%;
}

.sushi3:hover .texto {
  visibility: visible;
}

.platos1 {
  background-image: url("img/platos1.jpeg");
  height: 60vh;
  overflow: hidden;
  background-position: center;
  border-radius: 3%;
}

.platos1:hover .texto {
  visibility: visible;
}

.platos2 {
  background-image: url("img/platos2.jpeg");
  height: 60vh;
  overflow: hidden;
  background-position: center;
  border-radius: 3%;
}

.platos2:hover .texto {
  visibility: visible;
}

.platos3 {
  background-image: url("img/platos3.jpg");
  height: 60vh;
  overflow: hidden;
  background-position: center;
  border-radius: 3%;
}

.platos3:hover .texto {
  visibility: visible;
}

.postres1 {
  background-image: url("img/postres1.jpeg");
  height: 60vh;
  overflow: hidden;
  background-position: center;
  border-radius: 3%;
}

.postres1:hover .texto {
  visibility: visible;
}

.postres2 {
  background-image: url("img/postres2.jpeg");
  height: 60vh;
  overflow: hidden;
  background-position: center;
  border-radius: 3%;
}

.postres2:hover .texto {
  visibility: visible;
}

.postres3 {
  background-image: url("img/postres3.jpeg");
  height: 60vh;
  overflow: hidden;
  background-position: center;
  border-radius: 3%;
}

.postres3:hover .texto {
  visibility: visible;
}

.platos {
  height: 70vh;
}

.platos p {
  background-color: rgba(0, 0, 0, 0.487);
  color: #fff;
  line-height: 2em;
  text-align: center;
}






.carousel-inner img {

  overflow: hidden;

}

p {

  color: #000;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.386);



}

.small {
  background-color: #000;

}

.botonSmall {
  background-color: #000;
  color: #fff;
  border: none;
  text-align: center;
}
.botonSmall:hover{
text-decoration: underline red;
}

.nombre {
  background-color: #000;
  color: #fff;
  margin-bottom: 0em;
  text-align: center;

}

.contenedor-prueba {
  height: 100vh;
}

.descripcion {
  height: 100vh;
  color: #000;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.386);
}

.descripcion p:first-child {
  font-size: 2em;
  margin-bottom: 0;
  padding-bottom: 1em;
}

.flechas {
  opacity: 100 !important;
}

.redes {
  height: 100vh;
}

footer {
  font-size: .9em !important;
}

footer p {
  margin: 0.1em !important;
  font-style: italic !important;
  color: rgba(255, 255, 255, 0.431) !important;
  padding: 0 !important;
  text-align: center;

}
.menu img{
  width: 60%;
}
#menuSmall{
  display: flex;
  justify-content: center;

}





/*OPENCODE https://codepen.io/realKushal/pen/oYgBZO*/
.dropdown {
  position: absolute;
  display: block;
  box-sizing: border-box;
  text-align: center;
  font-size: 18px;
  height: 2em;
  z-index: 10000;
  font-family: "Pt sans", monospace, sans-serif;
}

.dropMain {
  background-color: rgb(210, 12, 12);
  border: 1px solid rgb(0, 0, 0);
  color: #fff;
  display: flex;
  flex-direction: row;
}

.dropdown div {
  cursor: pointer;
  padding: .5em;
  background-color: rgb(0, 0, 0);
}

.drop:hover {
  background-color: red;
  width: 100%;
  padding: .5em;
}

.dropdown .activeSmall a {
  color: red;
}

.dropdown .activeSmall:hover {
  background-color: #000;
}